.bg-container {
  min-height: 100%;
  min-width: 1000px;
}

body {
  background-color: rgb(164, 214, 248);
}
#bg-pic {
  width: 100%;
}

#got-this {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: rgb(22, 3, 85) 3px solid;
}

.text {
  position: absolute;
  top: 70px;
  left: 140px;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(227, 233, 240, 0.6);
  width: 70%;
  padding: 50px;
}

h1 {
  color: rgb(101, 56, 197);
  text-align: center;
  margin: 0;
  font-style: italic;
}

h3 {
  margin: 0;
  color: rgb(22, 3, 85);
  font-size: 60px;
  text-align: center;
}

h2 {
  margin: 0;
  color: rgb(58, 56, 197);
  font-size: 60px;
  text-align: center;
}

ul {
  margin: 2;
  text-align: center;
}

li {
  font-size: 30px;
  color: rgb(22, 3, 85);
  font-weight: bold;
}

a {
  color: rgb(22, 3, 85);
  text-decoration: none;
}

a:hover {
  color: rgb(101, 56, 197);
}

hr {
  color: rgb(22, 3, 85);
  border-style: solid;
}
